@model DisciplinarySystem.Application.Authentication.Dtos.ChangePasswordDto;

@section Styles{
    <link rel="stylesheet" href="~/css/pages/login.min.css" />
}

    <div class="login shadow-sm">
        <form method="post">
            <div class="text-center">
                <p class="small mt-0">تغییر رمز عبور</p>
            </div>
            <div class="mb-3">
                <label class="form-label">گذرواژه جدید:</label>
                <input type="password" asp-for="Password" class="form-control">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-4 position-relative login__password">
                <label class="form-label">تکرار گذرواژه:</label>
                <input type="password" asp-for="ConfirmPassowrd" class="form-control">
                <span class="text-danger" asp-validation-for="ConfirmPassowrd"></span>
            </div>
            <div class="mt-4 position-relative">
                <button type="submit" class="btn btn-success w-100">ثبت</button>
            </div>
        </form>
    </div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}