$color__galliano:#fd9d0d;
$color__lochmara:#008BDB;
$color__fruit-salad:#4CAF50;
$color__pomegranate:#f03430;
$color__wattle: #d6ce38;
$color__bon-jour: #E2DDDD;
$color__Silver-100: #BBBBBB;
$color__Silver-200: #BDBDBD;

:root {
  --c1: #261D56;
  --c2: #1a5ab1;
  --c3: #010307;
  --c4: #051946;
  --c5: #F4F5F8;
  --c6: #E2DDDD;
  --c7: rgba(30, 113, 212, .03);
  --c8: #464646;
  --c9: #676767;
  --c10: #4CAF50;
  --c11: #999999;
  --c12: rgba(59, 59, 59, .08);
  --c13: rgba(30, 113, 212, .08);
  --c14: rgba(240, 52, 48, .08);
  --c15: #3B3B3B;
  --c16: #1e71d4;
  --c17: #f03430;
  --c18: #FFB300;
  --c19: #008BDB;
  --c20: #F03430;
  --c21:#BBBBBB;
  --c22:#051946;
  --c23:#A6A6A6;
  --c24:#B6B6B6;
  --c25:#1852A0;
  --c26: rgba(189, 189, 189,.36);
  --c27: #E7F5FF;
  --c28: #006AB1;
  --c29:#FFF9D5;
  --c30:#EE0979;
  --c31:#E7E7E7;
  --c32:#868686;
  --c33: rgba(5, 25, 70,.14);
  --c34: #969494;
  --c35:#E7F1FE;
  --c36:#FFFCEA;
  --c37:#DFF6FF;
  --c38: rgba(5, 25, 70,.39);
}
