@font-face {
    font-family: "BYekan";
    src: url("../lib/fonts/BYekan-webfont.eot") format("eot"), url("../lib/fonts/BYekan-webfont.woff") format("woff"), url("../lib/fonts/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
