$body-bg: whitesmoke;
$font-family-base:"IranSans";
$direction-base:rtl;

//input checkbox
$form-check-input-width:                  1.3em;

//table
$table-cell-vertical-align:   middle;

//select
$form-select-bg-position:           left $form-select-padding-x center;
$form-select-indicator-padding:     $form-select-padding-x; // Extra padding for background-image
