.login__or {
  top: 50%;
  transform: translateY(-50%);
}

.login {
  padding: 20px;
  background-color: white;
  width: min(400px, 100%);
  border-radius: 8px;
  margin: auto;
}
.login p {
  color: #a6a6a6;
}
.login__password i {
  position: absolute;
  top: 43px;
  cursor: pointer;
  left: 10px;
}
.login__captcha {
  position: relative;
}
.login__captcha canvas {
  height: 38px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid rgba(183, 183, 183, 0.27);
}
.login hr {
  opacity: 0.2;
  margin: 25px 0;
}
.login hr:not([size]) {
  height: 1px !important;
}
.login__or {
  position: absolute;
  background-color: white;
  right: calc(50% - 10px);
  border-radius: 50%;
  padding: 0 5px;
}
