@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/mixins', 'abstracts/functions';

 //2. Vendors
@import 'vendors/bootstrap/bootstrap';

// 3. Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/helpers';

// 4. Layout-related sections
@import 'layout/header', 'layout/sidebar', 'layout/main';

// 5. Components
@import 'components/table',
'components/backdrop.css',
'components/button',
'components/paginate',
'components/tabs'
;

// 7. Themes
@import 'themes/default';

